container_commands:
  01_remove_cron_jobs:
    command: "crontab -r || exit 0"
    leader_only: true
  02_create_cron_jobs:
    command: "cat .ebextensions/crontabs.txt | crontab"
    leader_only: true
  03_create_log_dir:
    command: "mkdir -p /logs/collector && echo 'collector' >> /logs/collector/collector.log"
  04_migrate:
    command: "php /var/app/current/artisan migrate --force"
    leader_only: true
  05_update_supervisor:
    test: '[ /etc/supervisor ]'
    command: '/usr/local/bin/supervisorctl -c /tmp/new_supervisord_conf reread && /usr/local/bin/supervisorctl -c /tmp/new_supervisord_conf update'
  06_install_supervisor:
    test: '[ ! /etc/supervisor ] && echo "supervisor not installed"'
    command: "easy_install supervisor==3.1.3 && supervisord -c /tmp/new_supervisord_conf"
  07_restart_workers:
    command: "php /var/app/current/artisan queue:restart"
  08_download_nlp_models:
    command: "wget -O /var/app/current/app/Library/NLPParser/stanford-english-corenlp-2017-06-09-models.jar https://nlp.stanford.edu/software/stanford-english-corenlp-2017-06-09-models.jar"
