container_commands:
  01_remove_cron_jobs:
    command: "crontab -r || exit 0"
    leader_only: true
  02_create_cron_jobs:
    command: "cat .ebextensions/crontabs.txt | crontab"
    leader_only: true
  03_create_log_dir:
    command: "mkdir -p /logs/collector && echo 'collector' >> /logs/collector/collector.log"
  04_migrate:
    command: "php /var/app/current/artisan migrate --force"
    leader_only: true
  05_refresh_supervisor:
    test: '[ /etc/supervisor ]'
    command: "sudo supervisorctl -c /tmp/new_supervisord_conf reread && sudo supervisorctl -c /tmp/new_supervisord_conf update"
  06_install_supervisor:
    test: '[ ! /etc/supervisor ] && echo "supervisor not installed"'
    command: "easy_install supervisor==3.1.3 && supervisord -c /tmp/new_supervisord_conf"
