container_commands:
  01_remove_cron_jobs:
    command: "crontab -r || exit 0"
    leader_only: true
  02_create_cron_jobs:
    command: "cat .ebextensions/crontabs.txt | crontab"
    leader_only: true
  03_create_log_dir:
    command: "mkdir -p /logs/collector && echo 'collector' >> /logs/collector/collector.log"
    leader_only: false
  04_install_supervisor:
    command: "easy_install supervisor"
    leader_only: true
  05_copy_supervisor_config:
    command: "cp .ebextensions/supervisor.txt /etc/supervisor/conf.d/laravel-worker.conf"
    leader_only: true
  06_start_supervisor:
    command: "supervisorctl reread && supervisorctl update && supervisorctl start laravel-worker:*"
    leader_only: true
